## Java

*.class
*.war
hs_err_pid*
*.ear

.idea/

/build/
/core/build/
/desktop/build/


nbactions.xml
nb-configuration.xml

## Gradle

/local.properties
.gradle/
gradle-app.setting
/build/
/core/build/
/desktop/build/
